*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
 
/* nav section  */
 #header #nav-bar{
    display: flex;
    height: 12%;
    border-bottom: 2px solid white ;
}
/* logo here */
.nav_left{
    flex-basis: 15%;
    background-color: blueviolet;
    padding-right:10px;
}
.nav_left img {
    padding: 10%;
}
.nav_right {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-basis: 85%;
    width: auto;
    background-color: crimson;    
}
#nav-ul li {
    display: inline-block;
    padding: 0px 20px;  
    list-style: none;
}
.nav-link >a {
    text-decoration: none;
    transition: ease-in-out;
    color: whitesmoke;
}
/* main section  */
.wow-section {
    align-content:space-between; 
    /* height: 80vh; 
    /* position: relative; */

}
.main{
    height: 100vh;
    background-color: cyan;
}
.footer{
    height: 100vh;
    background-color: darkcyan;
}
/* User Story #13: The navbar should always be at the top of the viewport.

User Story #14: My product landing page should have at least one media query.

User Story #15: My product landing page should utilize CSS flexbox at least once. */



   
 