*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    background-image: linear-gradient(rgba(0,105,233,0.8),rgba(0,105,233,0.8),url(img/background.jpg));
    background-position: centre;
    background-size: cover;
}
#nav-bar{
    display: flex;
    height: 12%;
    border-bottom: 1px solid white ;
}

.nav_left{
    flex-basis: 15%;
    background-color: blueviolet;
    
}
.nav_right{
    flex-basis: 85%;
    width: auto;
    background-color: crimson;
}
.nav_right ul li {
    display: inline;
    list-style: none;
    margin-left: auto;
    margin-left: 5px;
}
.wow-section {
    align-content:space-between; 
    /* height: 80vh; */
    /* position: relative; */

}
.main{
    height: 100vh;
    background-color: cyan;
}
.footer{
    height: 100vh;
    background-color: darkcyan;
}
/* User Story #13: The navbar should always be at the top of the viewport.

User Story #14: My product landing page should have at least one media query.

User Story #15: My product landing page should utilize CSS flexbox at least once. */